


*{
    @include espacio(0,0);
    box-sizing: border-box;
}

a:hover{
    color: $color-primario;
}

.fixed-top{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 20px;

}

body{
    @include display(flex,column,flex-start,normal);
    font-family: $fuente;
    padding-top: 8em;
}

nav{
    box-shadow: $sombreado;
   
}

.contenedor-nav{
    
   @include display(flex,row,space-between,center);
    flex-wrap: inherit;
   
}

.logo-nav{
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px;
    padding: 15px;
}
.titulos{
    @include display(flex,row,flex-start,center);
    flex-grow: 1;
    
}

.menu-bar{
    @include flex-column-center;
    width: $ancho;
    font-size: 20px;
    
 }

.menu-link{
    @include display(flex,row,end,center);
    text-decoration: none;
    color: $color-secundario;
    font-size: 30px;
    padding: 20px; 
}

.links{
    margin: 0 70px 0 70px ;
}




.zapatillas{
   @include sizes(300px,300px);
}

.tienda-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 25px;
    padding: 0 10px 25px;
    

    div{
        @include display(flex,column,flex-start,normal);
        @include espacio(0,15px);
        box-shadow: $sombreado;
    }

    span{
        font-weight: $grosor-letra;
        font-size: 15px;
    }

    a{
        @include espacio(0,10px);
        color: $color-secundario;
        background-color: $color-primario;
        text-decoration: none;
        border-radius: 5px;
        text-align: $centrar;
        font-weight: $grosor-letra;
    }
    
}



footer{
    @include display(grid,column,center,center);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 20px 20px;
    background-color: $color-secundario;
    color: $white;
    margin-top: 10px;

    div{
        padding: 10px 5px;
        margin: auto;
      
    }

    p{
        @include espacio(0,0);
        text-align: $centrar;
        
    }
}

.footer-contacto{
    @include display(flex,row,center,center);
}

.telefono-img{
    width: 30px;
}

.email-img{
    width: 50px;
}


img{
    vertical-align: middle;
}

.redes-logo{
    @include sizes(70px,auto);
    @include espacio(0,10px); 
   
}

.redes-container{
    @include display(flex,row,space-between,center);
   
}

.linkedin-logo{
    @include sizes(30px,auto);
}



 .logo-footer{
    @include sizes(80px,80px);
    border-radius: 50%;
    
 }

.contacto{
    
    min-height: 85vh;
    display: flex;

    input{
        padding: 10px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $color-primario;
    }

    form{
       @include display(flex,column,flex-start,normal);
    }
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin:auto;
    padding: 20px;
    text-align: justify;
}




 .boton{
    background-color:$color-primario;
    color: $white;
    font-size: 20px;
    font-weight: 600;
}



.nosotros{
    text-align: justify;
    min-height: 90vh;
   
    p{
        margin: 40px;
        font-size: 20px;
      
    }
}

.slogan{   
    @include flex-column-center;
    img{
    @include sizes(600px,auto);
    @include espacio(20px,10px);
    }
}


.Menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    min-height: 70vh;

    div{
        position: relative;
        overflow: hidden;
        margin-top: 5px;
        height: $ancho;
    }

    img{
        @include sizes(100%,100%);
        object-fit: cover;
    
    }

    

    p{
        color: $white;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: $grosor-letra;
        
    }
}



.Menu div a div{
    @include flex-column-center;
    @include sizes(100%,100%);
    position: absolute;
    top: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}



.menu-principal{
    @include flex-column-center;
    @include espacio(20px,0);
    
}

.titulo-principal{
    
    margin: 20px 0 20px 0;
    color: $color-secundario;
    text-align: $centrar; 
    font-size: 40px;
    font-weight: $grosor-letra;
   
}



.coleccion-contenido{
    @include display(flex,column,center,center);
}

.coleccion{
    @include display(flex,row,center,center);
    @include espacio(0,0,);
    justify-content: start;
    text-align: justify;
    align-items:$centrar;
    
  
}

.contenido{
    padding: 30px 70px 30px 30px;
    h2{
        text-align: $centrar;
        margin-bottom: 30px;
        font-weight: $grosor-letra;
    }

    p{
        font-size: 20px;
        @include espacio(0,10px);
    }
}

.logo-marcas{
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
}





@media screen and (max-width:768px) {
    .titulos{
        width: $ancho;
    }
    
    footer{
        @include display(flex,column,center,center);
        @include sizes(100%,100%);
    }

    .Menu{
        @include display(flex,column,flex-start,normal);
        width: $ancho;
       
    }
    .titulo-principal{
        width: $ancho;
    }
    .redes-container{
        @include display(flex,row,space-between,center);
    }

  .menu-bar{
    justify-content: right;
  }

  

  .slogan{
    img{
        width: $ancho;
    }
    }

    .coleccion{ 
        @include display(flex,column,center,center);
    }
    

    .invertido{
        @include display(flex,column-reverse,center,center);
    }

    .contenido{
        @include espacio(0,30px);
    }
   
    .zapatillas{
        @include sizes(350px,auto);
    }
}


@media screen and (max-width:1245px) {
    .links{
        margin: 0 20px 0 20px;
    }
    
}



