
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    color: rgba(255, 196, 0, 0.92);
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

body{
    display: flex;
    flex-direction: column;
    font-family: montserrat, sans-serif;
}

nav{
    box-shadow: 0px 3px 17px -4px grey;
    position: fixed;
}

.contenedor-nav{
    
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.logo-nav{
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px;
    padding: 15px;
}
.titulos{
    display: flex ;
    flex-grow: 1;
    align-items: center;
}

.menu-bar{
    display: flex;
    align-items: center;   
    justify-content: center ;
    width: 100%;
    font-size: 20px;
    padding: 0 20px 0 20px;
 }

.menu-link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 20px; 
}

.tienda{
    padding-top: 30px;
}


.zapatillas{
    width: 300px;
    height: 300px;
}

.tienda-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 25px;
    padding: 0 10px 25px;
}

.tienda-productos div{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0px 3px 17px -4px grey;
}

.tienda-productos div p span{
    font-weight: 800;
    font-size: 15px;
}

.tienda-productos div a{
    color: black;
    background-color: rgba(255, 196, 0, 0.92);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
}


footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 15px 20px 20px;
   align-items: center;
   justify-items: center;
   background-color: black;
   color: white;
   flex-direction: column;
  
}

footer div{
    padding: 10px 5px;
    margin: auto;
  
}

footer div p{
    text-align: center;
}

.telefono-img{
    width: 30px;
}

.email-img{
    width: 50px;
}


img{
    vertical-align: middle;
}

.redes-logo{
    width: 70px;
    padding: 10px;
   
}

.redes-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.linkedin-logo{
    width: 30px;
}



 .logo-footer{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
 }

.contacto{
    
    min-height: 85vh;
    display: flex;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin:auto;
    padding: 20px;
    text-align: justify;
}

form{
    display: flex;
    flex-direction: column;
}

.contacto form input{
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(255, 196, 0, 0.92);
}

.contacto form .boton{
    background-color:rgba(255, 196, 0, 0.92);
    color: white;
    font-size: 20px;
    font-weight: 600;
}



.nosotros{
    text-align: justify;
    min-height: 90vh;
}

h3{
    color:rgba(255, 196, 0, 0.92) ;
    text-align: center;
    padding: 20px 0 10px;
    font-size: 50px;
}


.Menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
}

.Menu div{
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}

.Menu div a img{
    width: 100%;
    
    object-fit: cover;
}

.Menu div a div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Menu div a div p{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    
}

.menu-principal{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;

}

.titulo-principal{
  margin: 20px 0 20px 0;
  color: rgba(255, 196, 0, 0.92);
   text-align: center; 
   font-size: 30px;
   font-weight: 500;
   
}

.titulo-section{
    font-size: 30PX;
    font-weight: 700;
    padding: 20PX ;
    text-align: center;
    margin: 20px;
}



@media screen and (max-width:768px) {
    .titulos{
        width: 100%;
    }
    
    footer{
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .Menu{
        display: flex;
        flex-direction: column;
        width: 100%;
       
    }
    .titulo-principal{
        width: 100%;
    }
    .redes-container{
        display: flex;
        justify-content: space-between;
    }

  .menu-bar{
    justify-content: right;
  }

  .zapatillas{
    width: 100%;
  }
}